@model ProSkills.Models.ClientSide.RedeemCode

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

@ViewBag.instructorId

<div class="row">
    <div class="col-md-4">
        <form action="/RedeemCode/SaveNew" method="post">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="input-group mb-3">
                @*Combo Style*@
                <div class="input-group-prepend">
                    <span class="input-group-text">" Package"</span>
                </div>

                @*Combo Box - Select Validation*@
                <select asp-for="PackageName" asp-items="@ViewBag.PackageNames" class="form-control">
                    <option value="0">-- Select --</option>
                </select>
                <span asp-validation-for="PackageName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div> 
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
</div>
