@model ProSkills.Models.ClientSide.Course

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}



<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveNew" asp-controller="Course" method="post">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>

             @* Send Hidden Data*@
            <input asp-for="instructorId" type="hidden" class="form-control" value="@ViewBag.instructorId">

            <div class="input-group mb-3">
                @*Combo Style*@
                <div class="input-group-prepend">
                    <span class="input-group-text">" Course"</span>
                </div>
                @*Combo Box - Select Validation*@
                <select asp-for="Name" asp-items="@ViewBag.CategoryNames" class="form-control">
                    <option value="0">-- Select --</option>
                </select>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="input-group mb-3">
                @*Text Style*@
                <div class="input-group-prepend">
                    <span class="input-group-text">"Start At"</span>
                </div>
                @*Date Input - Text Validation*@
                <input asp-for="StartAt" type="date" class="form-control" placeholder="Choose Date">
                <span asp-validation-for="StartAt" class="text-danger"></span>
            </div>

            <div class="input-group mb-3">
                @*Text Style*@
                <div class="input-group-prepend">
                    <span class="input-group-text">"End At  "</</span>
                </div>
                @*Date Input - Date Validation*@
                <input asp-for="EndAt" type="date" class="form-control" placeholder="Choose Date">
                <span asp-validation-for="EndAt" class="text-danger"></span>
            </div>

            <div class="input-group mb-3">
                @*Text Style*@
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-check"></i></span>
                </div>
                @*Text Input - Text Validation*@
                <input asp-for="Description" type="text" class="form-control" placeholder="Course Notes">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="input-group mb-3">
                @*Text Style*@
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-check"></i></span>
                </div>
                @*Text Input - Text Validation*@
                <input asp-for="Location" type="text" class="form-control" placeholder="Course Location">
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="input-group mb-3">
                @*Text Style*@
                <div class="input-group-prepend">
                    <span class="input-group-text">@@</span>
                </div>
                @*Text Input - Text Validation*@
                <input asp-for="RedeemCode" type="text" class="form-control" placeholder="RedeemCode">
                <span asp-validation-for="RedeemCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div> 
        </form>

    </div>
</div>