html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.form-control {
    padding-left: 40px; /* Adjust this if your icon size is different */
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-bg {
    width: 100%;
}

.form-container {
    background-color: #fff;
    font-family: 'Titillium Web', sans-serif;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
    margin: auto;
}

    .form-container .title {
        color: #000;
        font-size: 25px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 0 0 25px;
        text-align: center;
    }

        .form-container .title:after {
            content: '';
            background-color: #00A9EF;
            height: 3px;
            width: 60px;
            margin: 10px auto 0;
            display: block;
        }

    .form-container .form-horizontal .form-group {
        color: #333;
        width: 100%;
        margin-bottom: 15px;
    }

    .form-container .form-horizontal .form-control {
        color: #888;
        background: #fff;
        font-weight: 400;
        letter-spacing: 1px;
        height: 40px;
        padding: 6px 12px;
        border-radius: 10px;
        border: 2px solid #e7e7e7;
        box-shadow: none;
        width: 100%;
        margin-bottom: 15px;
    }

        .form-container .form-horizontal .form-control:focus {
            box-shadow: 0 0 5px #dcdcdc;
        }

    .form-container .form-horizontal .form-check {
        margin-bottom: 15px;
    }

        .form-container .form-horizontal .form-check label {
            font-size: 14px;
            color: #333;
        }

    .form-container .form-horizontal .btn {
        width: 100%;
        margin-bottom: 15px;
    }

.form-horizontal .forgot-pass,
.form-horizontal .register {
    font-size: 17px;
    display: block;
    text-align: center;
    margin-top: 10px;
}

    .form-horizontal .forgot-pass a,
    .form-horizontal .register a {
        color: #00A9EF;
        transition: all 0.3s ease;
    }

        .form-horizontal .forgot-pass a:hover,
        .form-horizontal .register a:hover {
            color: #555;
            text-decoration: underline;
        }

@media only screen and (max-width: 479px) {
    .form-container .form-horizontal .form-group {
        width: 100%;
    }

    .form-container .signin-link {
        width: 100%;
        margin: 0 10px 15px;
    }
}

footer {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
}
