@{
    ViewData["Title"] = "No Services";
}

<div class="text-center">
    <img src="~/images/no-services-image.png" alt="No Services" />
    <h2>No Services Available!</h2>
    <p>Currently, there are no services available. Please check back later.</p>
</div>
