@model ProSkills.Models.ClientSide.Chapter

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var CourseId = ViewBag.CourseId;
}

<div class="card-body">
    <h2>Add New Chapter</h2>
    <form asp-action="AddNew" method="post">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="Title" name="Title" required />
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <textarea class="form-control" id="Description" name="Description"></textarea>
        </div>
        <div class="form-group">
            <label for="downloadLink">Download Link</label>
            <input type="url" class="form-control" id="downloadLink" name="downloadLink" />
        </div>
        <input @* type="hidden" *@ name="CourseId" value="@CourseId" />
        <button type="submit" class="btn btn-primary">Add Chapter</button>
    </form>
</div>
