<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">About Us</h1>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">

            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3 h-100">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Online Learning</h5>
                        <p>Our platform allows you to gain new skills and knowledge from anywhere, at any time. These modules are designed to be interactive and user-friendly, ensuring an engaging learning experience.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3 h-100">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Our Services</h5>
                        <p>We provide step-by-step guidance to create elements in Revit, enhancing your learning and productivity through our comprehensive and intuitive tools.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3 h-100">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">Plugins</h5>
                        <p>Our plugins include features like automated error detection, correction, connectivity, and rigid zones for load transfer, ensuring accuracy and efficiency in your projects.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="\Images\AEC.png" alt="">


                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                <h1 class="mb-4">Welcome to AEC University</h1>
                <p class="mb-4">
                    At AEC University, we offer a dynamic and engaging learning experience tailored to help you acquire valuable skills with ease. Our platform is designed for interactive learning,
                    ensuring that you can learn effectively through hands-on activities and real-world applications.
                </p>
                <p class="mb-4">Explore our platform to enhance your skills with our comprehensive tools and services designed to support your learning journey.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Interactive Learning</p>
                    </div>

                </div>
                <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Reactors Team</h6>
            <h1 class="mb-5">Expert Developers</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid w-100" src="~/images/profiles/hussein.jpeg" alt="Ahmed Hussein">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://www.facebook.com/profile.php?id=100009691359087"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Ahmed Hussein</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid w-100" src="~/images/profiles/gamal 2021.jpg" alt="Gamal Saied">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://www.facebook.com/gamal.saied.501/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Gamal Saied</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        <img class="img-fluid w-100" src="~/images/profiles/sadat.jpg" alt="Muhammed Sadat">
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        <div class="bg-light d-flex justify-content-center pt-2 px-1">
                            <a class="btn btn-sm-square btn-primary mx-1" href="https://www.facebook.com/MrVbaa"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-sm-square btn-primary mx-1" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="text-center p-4">
                        <h5 class="mb-0">Muhammed Sadat</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
<style>
    .team-item {
        margin-bottom: 30px;
        border: 1px solid #e3e3e3;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s;
    }

        .team-item:hover {
            transform: translateY(-10px);
        }

        .team-item img {
            object-fit: cover;
            height: 250px; /* Adjust based on your design */
        }

        .team-item .bg-light {
            border-top: 1px solid #e3e3e3;
            padding: 10px;
        }


    .service-item {
        border: 1px solid #e3e3e3;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;
    }

        .service-item:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        }

        .service-item .p-4 {
            padding: 20px;
        }

        .service-item i {
            color: #007bff;
        }

        .service-item h5 {
            font-size: 1.25rem;
            margin-bottom: 0.75rem;
        }

        .service-item p {
            font-size: 0.875rem;
            line-height: 1.5;
        }
</style>
