@model ProSkills.ViewModels.ForgetPasswordViewmodel

<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="SendEmail" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="text email" asp-for="Email" placeholder="please write your email" required="" /> )
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Reset Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Register">Create new acoount</a>
</div>