@model ProSkills.ViewModels.LoginUserViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<link rel="stylesheet" type="text/css" href="~/css/login.css">
<div class="form-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <div class="form-container">
                    <form class="form-horizontal" asp-action="Login" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <h3 class="title">Login Form</h3>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-user"></i></span>
                            <input class="form-control" asp-for="UserName" placeholder="Username">

                            <span asp-validation-for="UserName" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-lock"></i></span>
                            <input class="form-control" asp-for="Password" placeholder="Password"/>
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </div>
                        <div class="form-group form-check">
                            <span class="form-check-label"><i class="fa fa-user"></i></span>
                            <label class="form-check-label">

                                <input class="form-check-input" asp-for="RememberMe"/> @Html.DisplayNameFor(model => model.RememberMe)
                            </label>
                        </div>

                        @*  <button class="btn signin" type="submit">Login</button> *@
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </div>
                        <span class="forgot-pass"><a href="#">Lost password?</a></span>
                        <span  class="register"> <a asp-action="Register"> Register / Signup</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@* <div>
    <a asp-action="Register">Create new acoount</a>
</div> *@
@*
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" placeholder="Please enter your email" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Please enter your password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@